<div class="container">
  <div class="profile section">
   <div class="title">
    <h1 class="section-title">
     <span>
      alfred thompson
     </span>
     <span class="ovie">ovie</span>
    </h1>
    <div class="profession">
     <span>
      <fa-icon class="faStar" [icon]="faStar"></fa-icon>
      <fa-icon class="faStar" [icon]="faStar"></fa-icon>
      <fa-icon class="faStar" [icon]="faStar"></fa-icon>
     </span>
     <span>web/mobile app developer</span>
    </div>
    <div class="profile-img">
     <img src="../assets/pix.jpg" alt="me">
    </div>
   </div>
  </div>
  <div class="contact section">
   <div class="tel">
    <span>
      <fa-icon class="faPhone" [icon]="faPhone"></fa-icon> 
    </span> 
    <span>08169591798</span>
   </div>
   <div class="email">
    <span><fa-icon class="faPhone" [icon]="faEnvelope"></fa-icon> </span> 
    <span>alfredthompsonovie@gmail.com</span>
   </div>
   <div class="address">
    <span><fa-icon class="faPhone" [icon]="faMapMarkerAlt"></fa-icon>
    </span>
    <span>surulere, lagos.</span>
   </div>
  </div>
  <div class="about section">
   <div class="details">
    <h2 class="section-title">
     about me
    </h2>
    <p>
     I’m a hard working and dedicated self-taught Front End Developer, currently based in Nigeria, with a keen eye for detail, who loves coding. I take great pride in my work, and I always try to better myself with every project I work on with a focus on responsive design.
    </p>
   </div>
   <div class="skills-container">
    <h3 class="section-title">skills</h3>
    <div class="skills"> 
     <p>
      <span>
       <fa-icon class="fas" [icon]="faHtml5"></fa-icon>
      </span>
      <span>
       HTML
      </span>
      <span class="rating">
        <fa-icon class="faStar" [icon]="faStar"></fa-icon>
        <fa-icon class="faStar" [icon]="faStar"></fa-icon>
        <fa-icon class="faStar" [icon]="faStar"></fa-icon>
        <fa-icon class="faStar" [icon]="faStar"></fa-icon>
        <fa-icon class="faStar" [icon]="faStar"></fa-icon>
      </span>
     </p>
     <p>
      <span>
       <fa-icon class="fas" [icon]="faCss3Alt"></fa-icon>
      </span>
      <span>
       CSS
      </span>
      <span class="rating">
        <fa-icon class="faStar" [icon]="faStar"></fa-icon>
        <fa-icon class="faStar" [icon]="faStar"></fa-icon>
        <fa-icon class="faStar" [icon]="faStar"></fa-icon>
        <fa-icon class="faStar" [icon]="faStar"></fa-icon>
      </span>
     </p>
     
     <p>
      <span>
       <fa-icon class="fas" [icon]="faJsSquare"></fa-icon>
      </span>
      <span>
       JavaScript
      </span>
      <span class="rating">
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStarHalf"></fa-icon>
      </span>
     </p>
    
     <p>
      <span>
       <fa-icon class="fas" [icon]="faBootstrap"></fa-icon>
      </span>
      <span>
       Bootstrap
      </span>
      <span class="rating">
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
      </span>
     </p>

     <p>
      <span>
       <fa-icon class="fas" [icon]="faCss3"></fa-icon>
      </span>
      <span>
       TailwindCSS
      </span>
      <span class="rating">
        <fa-icon class="faStar" [icon]="faStar"></fa-icon>
        <fa-icon class="faStar" [icon]="faStar"></fa-icon>
      </span>
     </p>
     
     <p>
      <span>
       <fa-icon class="fas" [icon]="faReact"></fa-icon>
      </span>
      <span>
       React
      </span>
      <span class="rating">
        <fa-icon class="faStar" [icon]="faStar"></fa-icon>
        <fa-icon class="faStar" [icon]="faStar"></fa-icon>
      </span>
     </p>
   
     <p>
      <span>
       <fa-icon class="fas" [icon]="faAngular"></fa-icon>
      </span>
      <span>
       Angular
      </span>
      <span class="rating">
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStarHalf"></fa-icon>
      </span>
     </p>

     <p>
      <span>
       <fa-icon class="fas" [icon]="faAndroid"></fa-icon>
      </span>
      <span>
       Cordova
      </span>
      <span class="rating">
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
      </span>
     </p>
     
     <p>
      <span>
       <fa-icon class="fas" [icon]="faWordpress"></fa-icon>

      </span>
      <span>
       Wordpress
      </span>
      <span class="rating">
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStarHalf"></fa-icon>
      </span>
     </p>
    
     <p>
      <span>
       <fa-icon class="fas" [icon]="faImage"></fa-icon>

      </span>
      <span>
       Photoshop
      </span>
      <span class="rating">
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStarHalf"></fa-icon>
      </span>
     </p>
   
     <p>
      <span>
       <fa-icon class="fas" [icon]="faTachometerAlt"></fa-icon>

      </span>
      <span>
       Problem Solving skills
      </span>
      <span class="rating">
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStarHalf"></fa-icon>
      </span>
     </p>
     
     <p>
      <span>
       <fa-icon class="fas" [icon]="faSitemap"></fa-icon>
      </span>
      <span>
       Organization skills
      </span>
      <span class="rating">
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStar"></fa-icon>
       <fa-icon class="faStar" [icon]="faStarHalf"></fa-icon>
      </span>
     </p>
    </div> 
   </div>
  </div>
  <div class="experience section">
   <h1 class="section-title">
    experience
   </h1>
   <div class="work">
    <div class="box">
     <div class="year_company">
      <h5>Aug 2021</h5>
      <h5>HNG Internship 8.0</h5>
     </div>
     <div class="details">
      <h4>Front-end development</h4>
      <p>
       Tasked with building various websites and web applications.
      </p>
     </div>
    </div>
    <div class="box">
     <div class="year_company">
      <h5>Aug 2021</h5>
      <h5>SideHustle Internship 3.0</h5>
     </div>
     <div class="details">
      <h4>Front-end web development</h4>
      <p>
       Tasked with building various websites and web applications.
      </p>
     </div>
    </div>
    
    <div class="box">
     <div class="year_company">
      <h5>Oct 2020 - Dec 2020</h5>
      <h5>Deftrains solutions, Surulere, Lagos</h5>
     </div>
     <div class="details">
      <h4>Network administrator intern</h4>
      <ul>
       <li>
        Configuration and troubleshooting of Cisco
        switches, routers and radios
       </li>
       <li>
        Configuration of routing protocols
       </li>
       <li>
        Configuration of switches for vlan, STP,
        and ACL.
       </li>
       <li>Basic knowledge of BGP and MPLS.</li>
       <li>
        Configuration of Cisco routers for HSRP.
       </li>
      </ul>
     </div>
    </div>
   </div> 
  </div>
  <!--  -->
  <div class="education section">
   <h3 class="section-title">
    <fa-icon [icon]="faUniversity"></fa-icon> Education
   </h3>
   <ul>
    <li>
     <h5 class="schDuration">2010-2016</h5>
    </li>
    <li>
     <h4>Bachelors Degree in Civil Engineering</h4>
    </li>
    <li>
     <h4>Delta State University</h4>
    </li>
   </ul>
  </div>
  <div class="certificates section">
   <h3 class="section-title">
    <fa-icon [icon]="faCertificate"></fa-icon> Certificates
   </h3>
   <ul class="certificateLists">
    <li>
     <h5>2021</h5>
     <h4>Mobile app (Cross Platform Mobile Development) (in view)</h4>
     <h4>Bincom academy</h4>
    </li>
    <li>
     <h5>2021</h5>
     <h4>The complete javascript course (in view)</h4>
     <h4>Udemy</h4>
    </li>

    <li>
     <h5>2021</h5>
     <h4>Jobberman Soft Skills Training Certificate</h4>
    </li>
    <li>
     <h5>2020</h5>
     <h4>CCNA</h4>
     <h4>Deftrains Solutions</h4>
    </li>
    
    <li>
     <h5>2020</h5>
     <h4>Computer Hardware Engineering (comptia A+)</h4>
     <h4>IIHT Technologies</h4>
    </li>
   </ul> 
  </div>
  <div class="interests section">
   <h1 class="section-title">interests</h1>
   <div class="myInterests">
    <p>
     <span>
      <fa-icon class="fab" [icon]="faPaperPlane"></fa-icon></span>
     <span>travel</span>
    </p>
    <p>
     <span>
      <fa-icon class="fab" [icon]="faSearchengin"></fa-icon></span>
     <span>research</span>
    </p>
    <p>
     <span><fa-icon class="fab" [icon]="faPalette"></fa-icon></span>
     <span>art</span>
    </p>
   </div>
  </div>
  <div class="referee section">
   <h1 class="section-title">referee</h1>
   <p><span><fa-icon [icon]="faUsers"></fa-icon>
   </span> <span>Available on request</span></p>
  </div>
 </div>